/*Geral*/
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}

html {
    --bg-vw: #22212C;
    --color-txt: #837E9F;
    --bg-box: #302F3D;
    --shadow: #1C1C1C;
}

body {
    background: black;
    color: var(--color-txt);
    display: flex;
    background: var(--bg-vw) ;
    align-items: center;
    heigth: 100vh;
}

.container {
    width: 90rem;
    heigth: 110.4375rem;
    width: 100vw;
}

/*Box1*/
.box1{
    //border: 1px solid white;
    border-radius: 20px;
    background: var(--bg-box);
    width: 21.75rem;
    heigth: 18.25rem;
    text-align:center;
    box-shadow:3px 3px var(--shadow);
    margin: 40px 30px 30px 40px;
    display: inline-block;
    position: relative
}

.box1 img {
    border-radius: 50%;
    border: 2px solid #00FF00;
    width: 6.25rem;
    heigth: 6.25rem;
    margin: 2rem;
    
}

.box1 h2 {
    font-size: 1.4375rem;
}

.box1 p {
    font-size: 13px;
    padding-top: 0.625rem;
    padding-bottom: 3.125rem;
}
/*Box2*/
.box2 {
    //border: 2px solid white;
    display: inline-block;
    background: var(--bg-box);
    border-radius: 20px;
    padding: 29px 30px 29px 30px;
    width: 59.5rem;
    heigth: 5.375rem;
    text-align: center;
    box-shadow:3px 3px var(--shadow);
    margin: 30px;
    position: absolute;
    top: 0.8rem;
}

.box2 p{
    display: inline;
    font-size: 1.25rem;
}

.p1 {
    padding-right: 43.4375rem;
}

.box2 p a {
    font-size: 0.875rem;
    color: var(--color-txt);
    text-decoration: none;
}

a:hover {
    filter: brightness(1.2);
}
/*Box3*/
.box3{
    /* border: 1px solid white; */
    width: 28.8125rem;
    background: var(--bg-box);
    box-shadow:3px 3px var(--shadow);
    border-radius: 20px;
    margin: 30px 30px 30px 40px;
    position: absolute;
    left: 900px;
    top: 125px;

}

.mid3 p {
    font-size: 14px;
}

/*Box4*/

.box4{
    /* border: 1px solid white; */
    width: 28.8125rem;
    background: var(--bg-box);
    box-shadow:3px 3px var(--shadow);
    border-radius: 20px;
    margin: 30px 30px 30px 40px;
    position: absolute;
    left: 408px;
    top: 125px;
}

.mid4 p {
    font-size: 14px;
}

/*Box5*/
.box5{
    border-radius: 20px;
    background: var(--bg-box);
    width: 21.75rem;
    /* heigth: 18.25rem; */
    text-align:center;
    box-shadow:3px 3px var(--shadow);
    margin: 0px 0px 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}

ul {
    list-style-type: none;
    /* border: 1px solid white; */
    display:block;
    width: 15rem;
}

a {
    text-decoration: none;
    color: var(--color-txt);
    font-size: 13px;

}

img{
    margin: 0;
    padding: 0;
 

}

/*Box6*/
.box6 {
    //border: 2px solid white;
    background: var(--bg-box);
    border-radius: 20px;
    padding: 29px 30px 29px 30px;
    width: 59.5rem;
    heigth: 5.375rem;
    text-align: center;
    box-shadow:3px 3px var(--shadow);
    margin: 30px;
    position: absolute;
    top: 245px;
    left: 420px;
}

.box6 p{
    font-size: 1.25rem;
    padding-right: 47.2rem;
}

/*Box7*/
.box7 {
    background: var(--bg-box);
    border-radius: 20px;
    padding: 29px 30px 29px 30px;
    width: 59.5rem;
    heigth: 5.375rem;
    box-shadow:3px 3px var(--shadow);
    margin: 0;
    position: absolute;
    top: 24.2rem;
    left: 28.2rem;  
}

.perfilPhoto img{
    border-radius: 50%;
    width: 6.25rem;
    heigth: 6.25rem;
    margin: 2rem;
}