/*Geral*/

* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html {
    --bg-vw: #22212C;
    --color-txt: #837E9F;
    --bg-box: #302F3D;
    --shadow: #1C1C1C;
}

body {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    height: 100vh;
    background: var(--bg-vw);

    color: var(--color-txt);
}

.container {
    display:grid;
    grid-template-areas: '1 2';
}

.projetcs {
    display: flex;
}

a {
    text-decoration: none;
    color: var(--color-txt);
    cursor: pointer;
}

a:hover {
    filter: brightness(1.2);
}

/*box1*/
.box1 {
    background: var(--bg-box);
    box-shadow:0.1875rem 0.1875rem var(--shadow);
    border-radius: 1.25rem;
    text-align: center;
    margin: 2.5rem 1.875rem 1.875rem 0rem;
}

.box1 img {
    border-radius: 50%;
    border: 2px solid #00FF00;
    width: 6.25rem;
    heigth: 6.25rem;
    margin: 32px 110px 30px 110px;
}

.box1 h2 {
    font-size: 1.4375rem;
    margin: 0px 0px 10px 0px; 
}

.box1 p {
    font-size: 0.8125rem;
    padding: 0 0 48px 0;
}

/*box2*/
.box2 {
    background: var(--bg-box);
    border-radius: 1.25rem;
    box-shadow:0.1875rem 0.1875rem var(--shadow);
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0rem 1.875rem 1.875rem;
}

.h2 {
    font-size: 20px;
    margin: 1.7rem 44.125rem 1.7rem 1.875rem;
}

.box2 a {
    margin: 1.6875rem 1.875rem 1.6875rem 0rem;
}

/*box3*/

.box3 {
    background: var(--bg-box);
    box-shadow:0.1875rem 0.1875rem var(--shadow);
    border-radius: 1.25rem;
    margin: 0px 30px 30px 30px;
    width: 461px;
    height: 186px;
}

.top, .bottom, .share, .like, .gitshare, .language {
    display: flex;
}

.bottom {
    justify-content: space-between;
}

/*box4*/

.box4 {
    background: var(--bg-box);
    box-shadow:0.1875rem 0.1875rem var(--shadow);
    border-radius: 1.25rem;
    margin: 0px 0px 30px 0px;
}

.top {
    margin: 30px 321px 30px 30px;
    font-size: 16px;
}

.top img {
    margin: 0px 15px 0px 0px;
    height: 20px;
    width:20px;
}

.mid {
    margin: 0px 0px 40px 30px;
    font-size: 14px;
}

.box4 .top, .bottom, .share, .like, .gitshare, .language {
    display: flex;
}

.bottom {
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
}

.like {
    margin: 0px 19px 0px 0px;
}

.language img {
    margin: 0px 8px 0px 0px;
    height: 15px;
    width: 15px;
}

.language p {
    font-size: 14px;
}

/*box5*/

.recentPost {
    background: var(--bg-box);
    box-shadow:0.1875rem 0.1875rem var(--shadow);
    border-radius: 1.25rem;
    margin: 0px 0px 0px 30px;
}

.recentPost h2 {
    font-size: 20px;
    padding: 28px 0px 28px 30px;
}

/*box6*/

.lastView {
    background: var(--bg-box);
    box-shadow:0.1875rem 0.1875rem var(--shadow);
    border-radius: 1.25rem;
    margin: 30px 0px 0px 30px;
    display: flex;
}

.lastView img {
    border-radius: 50%;
    width: 6.25rem;
    heigth: 6.25rem;
    margin: 42px 20px 42px 30px;
}

.informationAndLastTime h2{
    font-size: 18px;
    margin: 30px 0px 15px 0px;
}

.informationAndLastTime p {
    font-size: 14px;
    margin: 0px 0px 30px 0px;
}

.moreInform p {
    margin: 0px 0px 10px 0px;
    font-size: 16px;
}

.hash {
    display: flex;
    font-size: 14px;
}

.hash .first{
    margin: 0px 25px 0px 25px
}

.hash .second {
    margin: 0px 25px 0px 0px
}